<center>
<form method="POST" action="../php/registrationCheck.php">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<fieldset>
					<legend><h3>REGISTRATION</h3></legend>
					Id<br/><input type="text" name="id"><br/>
					Password<br/><input type="password" name="password"><br/>
					Confirm Password<br/><input type="password" name="con_pas"><br/>
					Name<br/><input type="text" name='name'><br/>
					User Type<hr/>
					<input type="radio" name="user_t" value="User"/>User
					<input type="radio" name="user_t" value="Admin"/>Admin
					<hr/>
					<input type="submit" name="submit" value="Sign Up">
					<a href="login.html">Sign In</a>
				</fieldset>
			</td>
		</tr>                                
	</table>
</form>
</center>
		